@model CoreMVC.Models.RegisterationViewModel

@{
    ViewData["Title"] = "AddR";
}

<h1>AddR</h1>

<h4>RegisterationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddR">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Role_id" class="control-label"></label> &nbsp;&nbsp;
                <input asp-for="Role_id" type="radio" value=1 />Trainer &nbsp;&nbsp;&nbsp;
                <input asp-for="Role_id" type="radio" value=2 />Client
            </div>
            <div class="form-group">
                <label asp-for="F_Name" class="control-label"></label>
                <input asp-for="F_Name" class="form-control" />
                <span asp-validation-for="F_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L_Name" class="control-label"></label>
                <input asp-for="L_Name" class="form-control" />
                <span asp-validation-for="L_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locations" class="control-label"></label>
                <input asp-for="Locations" class="form-control" />
                <span asp-validation-for="Locations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

